.card {
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: space-between; /* Distribui os elementos na horizontal */
    align-items: center; /* Centraliza verticalmente */
}

.card .info {
    flex: 1; /* Ocupa todo o espaço disponível à esquerda */
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.card h3 {
    font-family: 'Inter', sans-serif;
    color: #333;
}

.card p {
    font-family: 'Inter', sans-serif;
    color: #555;
}



.buttons {
    display: flex;
    gap: 10px; /* Espaço entre os botões */
}

.delete, .alter {
    height: 40px;
    width: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.delete {
    background-color: #bb1919;
}

.alter {
    background-color: yellowgreen;
}