<section class="container">
    <div class="container__header">
      <div class="container__header_title">
        <h1>Contatos</h1>
        <h2>Lista de contatos para orçamento</h2>
      </div>
      <div class="container__header_commands">
        <button (click)="addNewCon()" class="btn">Novo</button>
      </div>
    </div>
    <div class="container__body">
      @for (item of pessoas; track $index) {
        <app-card 
        [nome]="item.nome"
        [email]="item.email"
        [telefone]="item.telefone"
        [endereco]="item.endereco"
         >
          <button class="delete" (click)="removeItem($index)">Deletar</button>
          <button class="alter" (click)="alterCard($index)">Alterar</button>
        </app-card>
        <div *ngIf="isEditing && editIndex === $index">
          <h3>Editando Contato</h3>
          <input type="text" [(ngModel)]="pessoas[editIndex!].nome" placeholder="Nome">
          <input type="email" [(ngModel)]="pessoas[editIndex!].email" placeholder="Email">
          <input type="text" [(ngModel)]="pessoas[editIndex!].telefone" placeholder="Telefone">
          <input type="text" [(ngModel)]="pessoas[editIndex!].endereco" placeholder="Endereço">
          
          <button (click)="saveEdition()">Salvar</button>
          <button (click)="cancelEdit()">Cancelar</button>
        </div>
        
      }
    </div>
  </section>